a:link {
    color: rgb(148, 4, 4);
}

a:hover {
    color: purple;
}

a:visited {
    color: rgb(148, 4, 4);
  }

h1 {
    font-size: 18pt;
}

header {
    background-color: rgb(148, 4, 4);
    border: black solid 1px;
    height: 100px;
    font-size: 18pt;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: whitesmoke;
    text-decoration: none;
}


main {
    display:flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}


.HeroImage {
    display: flex;
    margin: 0 auto;
    width: 80%;
    gap: 30px;
}

.HeroImage img {
    width: 100%;
}


.SubBanner {
    display: flex;
    margin: 0 auto;
    width: 80%;
    gap: 30px;
    justify-content: space between;
    align-items: center;
}

.SubBanner img {
    width: 100%;
}


.imageAndParagraph {
    display: flex;
    margin: 0 auto;
    width: 80%;
    gap: 3%;
    height: 400px;
}

.imageAndParagraph img {
    width: 100%;
    flex: 1;
}

.imageAndParagraph p {
    flex: 2;
    overflow: scroll;
    font-size: 16pt;
    font-style: italic;
    height: 300px;
}

button {
height: 40px;
width: 150px;
background-color: black;
color: white;
}

footer {
    background-color: rgb(148, 4, 4);
    color: white;
    text-align: ;
    height: 45px;
    border: black solid 1px;
}
